@font-face {
  font-family: BalooBhaijaan2-Regular;
  src: url('static/font/BalooBhaijaan2-Regular.ttf');
}

html {
    background-color: white;
  }
  
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e5a98;
    height: 15%;
    width: 100%;

  }

    .header h1{
    text-align: center;
    font-weight: bold;
    color: white;
  }

  .content{
    height: 75%;
    width: auto;
    background-color: #939393;
    
    
  }

  .image{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
    background-color: #939393;

  }



  .ssid{
 
    position: absolute;
    bottom: 28%;
    left: 5%;
    width: 90%;
    height: 8%;
  }

  .password{
    position: relative;
    width:90%;
    left: 5%;
    height: 8%;

  }
  .button_save{
    position: absolute;
    bottom: 12%;
    left: 5%;
    width: 90%;
    height: 8%;
  }

  .footer {
    background-color: #3e5a98;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
  }

 