<html>
    <meta name="viewport" content="width=device-width,initial-scale=1">    
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <title>Home</title>
    
    <header> 
        <div class="header">	
            <h2>Quickium</h2>
          </div>  
    </header>
     
<body>
    <content> 
        
    </content>
    <a href="https://192.168.0.14:444/scan">
        <button type="button" class="btn btn-secondary btn-lg">Scan QR Code</button>
     </a>
     
</body>
</html>