<html>
    <meta name="viewport" content="width=device-width,initial-scale=1">  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style_wifi-config.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    
    <head>
        <title>Wifi Config</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/python.png') }}">
    </head>

    

    <body>
        <div class="header">	
            <h1>Web Qr Scanner Config</h1>
        </div>  
        <a href="http://192.168.0.14:82/home">
            <button type="button"> <img src="https://bit.ly/3BF9FD7" height ="80" width="100" /></button>
        </a>
        <div class="content">
            
            <form style="width:80%; text-align: center;">

                <div class="form-group" style="height: 30%">
                    <label for="wifi_name" class="label">Change Wifi Name</label>
                    <input type="name" class="form-control" id="wifi_name" placeholder="Wifi Name">
                
                    <div class="button">
                        <button type="submit" class="btn btn-primary" style="width:100%">Save</button>
                    </div>
                </div>
                
                <hr style="width: 100%;">

                <div class="form-group" style="height: 50%;">
                    <div>
                        <label class="label">Change Password</label>
                        <input type="password" class="form-control" id="current_password" placeholder="Current Password">    
                    </div>
                    <div>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password">
                    </div>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm New Password">

                    <div class="button">
                        <button type="submit" class="btn btn-primary" style="width: 100%" ">Save</button>
                    </div>
                </div>

            </form>
        
        </div>
   
    </body>
    
    <div class="footer">www.python.com</div>
       
</html>