<html>
    <meta name="viewport" content="width=device-width,initial-scale=1">  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style_index.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    
    <body>
        <h1>Flask Application</h1>
        <h3>Our Flask Buttons<h3/>
            <form method="post" action="/test">
                <input type="submit" value="VALUE1" name="action1"/>
                <input type="submit" value="VALUE2" name="action2" />
                <input type="submit" value="VALUE3" name="action3" />
                <input type="password" name="password" value="password"/>
                <input type="text" name="ssid"/>
            </form>

        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value={{message}}>{{message}}</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </select>

        <select class="form-select" aria-label="Default select examle">
            <option value={{data}}>{{data}}</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </select>

        
        <div>

            <p>2</p>
        </div>


           

    </body>

</html>