@font-face {
  font-family: BalooBhaijaan2-Regular;
  src: url('static/font/BalooBhaijaan2-Regular.ttf');
}

html {
    background-color: white;
  }
  
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e5a98;
    height: 15%;
    width: 100%;

  }

    .header h1{
    text-align: center;
    font-weight: bold;
    color: white;
  }

  .content{
    height: 75%;
    width: auto;
    background-color: #939393;
    display: flex;
    
  }

  .reader{
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 70%;
    position: fixed;
    left: 17.5%;
    top:2%;
  }

  .type_yourself{
 
    height: 30%;
    width: 80%;
    position: absolute;
    top: 75%;
    left: 10%;
    
  }



  .save_btn{

    width: 90%;
    height: 8%;
    position: relative;
    top: 2%;
    left: 5%;


  }

  .footer {
    background-color: #3e5a98;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0%;
    
  }

 